Repository 42organization/42gg.server.dev.v2, pull requests merged in 2024-02, with the labels that each got.

#470 🧪 [Unit Test] Announcement 단위 테스트 추가
  src/main/java/com/gg/server/admin/announcement/controller/AnnouncementAdminController.java
  src/main/java/com/gg/server/admin/announcement/service/AnnouncementAdminService.java
  src/main/java/com/gg/server/domain/announcement/service/AnnouncementService.java
  src/test/java/com/gg/server/admin/announcement/controller/AnnouncementAdminControllerUnitTest.java
  src/test/java/com/gg/server/admin/announcement/service/AnnouncementAdminServiceUnitTest.java
  src/test/java/com/gg/server/domain/announcement/controller/AnnouncementControllerUnitTest.java
  src/test/java/com/gg/server/domain/announcement/data/AnnouncementUnitTest.java
  src/test/java/com/gg/server/domain/announcement/service/AnnouncementServiceUnitTest.java
Labels: refactoring, test

#481 🧪 [Unit Test] Feedback 유닛 테스트 추가 및 기존 쿼리문 수정
  src/main/java/com/gg/server/admin/feedback/controller/FeedbackAdminController.java
  src/main/java/com/gg/server/admin/feedback/data/FeedbackAdminRepository.java
  src/main/java/com/gg/server/admin/feedback/data/FeedbackAdminRepositorySearch.java
  src/main/java/com/gg/server/admin/feedback/data/FeedbackAdminRepositorySearchImpl.java
  src/main/java/com/gg/server/admin/feedback/service/FeedbackAdminService.java
  src/test/java/com/gg/server/admin/feedback/controller/FeedbackAdminControllerUnitTest.java
  src/test/java/com/gg/server/admin/feedback/service/FeedbackAdminServiceUnitTest.java
  src/test/java/com/gg/server/domain/feedback/controller/FeedbackControllerUnitTest.java
  src/test/java/com/gg/server/domain/feedback/service/FeedbackServiceUnitTest.java
Labels: refactoring, test

#507 🧪 [Unit Test] Item 유닛테스트 추가 및 자바독 추가 및 자잘한 코드 다듬기
  src/main/java/com/gg/server/admin/item/service/ItemAdminService.java
  src/main/java/com/gg/server/domain/item/service/ItemService.java
  src/test/java/com/gg/server/admin/item/service/ItemAdminServiceUnitTest.java
  src/test/java/com/gg/server/domain/item/data/ItemUnitTest.java
  src/test/java/com/gg/server/domain/item/service/ItemServiceUnitTest.java
Labels: documentation, test

#519 🧪 [Unit Test] Megaphone 단위 테스트
  src/main/java/com/gg/server/admin/megaphone/service/MegaphoneAdminService.java
  src/main/java/com/gg/server/domain/megaphone/controller/MegaphoneController.java
  src/main/java/com/gg/server/domain/megaphone/service/MegaphoneService.java
  src/test/java/com/gg/server/admin/megaphone/service/MegaphoneAdminServiceUnitTest.java
  src/test/java/com/gg/server/domain/megaphone/service/MegaphoneServiceUnitTest.java
Labels: documentation, test

#526 🧪 [Unit Test] MatchTournamentService 단위 테스트
  src/main/java/com/gg/server/admin/tournament/service/TournamentAdminService.java
  src/main/java/com/gg/server/domain/game/service/GameService.java
  src/main/java/com/gg/server/domain/match/service/MatchTournamentService.java
  src/main/java/com/gg/server/domain/match/type/TournamentMatchStatus.java
  src/main/java/com/gg/server/domain/tournament/data/TournamentGameRepository.java
  src/main/java/com/gg/server/domain/tournament/service/TournamentService.java
  src/main/java/com/gg/server/domain/tournament/type/RoundNumber.java
  src/main/java/com/gg/server/domain/tournament/type/TournamentRound.java
  src/test/java/com/gg/server/admin/tournament/controller/TournamentAdminControllerTest.java
  src/test/java/com/gg/server/domain/match/service/MatchBothServiceTest.java
  src/test/java/com/gg/server/domain/match/service/MatchFindServiceUnitTest.java
  src/test/java/com/gg/server/domain/match/service/MatchServiceTest.java
  src/test/java/com/gg/server/domain/match/service/MatchTournamentServiceTest.java
  src/test/java/com/gg/server/domain/match/service/MatchTournamentServiceUnitTest.java
  src/test/java/com/gg/server/domain/match/utils/GameTestUtils.java
  src/test/java/com/gg/server/domain/match/utils/MatchIntegrationTestUtils.java
  src/test/java/com/gg/server/domain/match/utils/TournamentGameTestUtils.java
  src/test/java/com/gg/server/domain/match/utils/TournamentTestUtils.java
  src/test/java/com/gg/server/domain/match/utils/UserTestUtils.java
  src/test/java/com/gg/server/domain/tournament/data/TournamentUnitTest.java
Labels: test

#520 🧪 [Unit Test] NotiAdminService 단위 테스트
  src/main/java/com/gg/server/admin/noti/service/NotiAdminService.java
  src/test/java/com/gg/server/admin/noti/service/NotiAdminServiceUnitTest.java
Labels: test

#522 🧪 [Unit Test] tournamentController 단위 테스트
  src/main/java/com/gg/server/domain/tournament/controller/TournamentController.java
  src/test/java/com/gg/server/domain/tournament/controller/TournamentControllerMvcTest.java
Labels: bug, test

#508 🧪 [Test] tournamentservice 단위 테스트
  src/main/java/com/gg/server/domain/tournament/data/Tournament.java
  src/main/java/com/gg/server/domain/tournament/dto/TournamentListResponseDto.java
  src/main/java/com/gg/server/domain/tournament/dto/TournamentResponseDto.java
  src/main/java/com/gg/server/domain/tournament/service/TournamentService.java
  src/test/java/com/gg/server/domain/tournament/data/TournamentUnitTest.java
  src/test/java/com/gg/server/domain/tournament/service/TournamentServiceTest.java
  src/test/java/com/gg/server/domain/tournament/service/TournamentServiceUnitTest.java
  src/test/java/com/gg/server/utils/TestDataUtils.java
Labels: refactoring, test

#521 🧪 [Unit Test] pchange 테스트 코드 추가
  src/main/java/com/gg/server/domain/pchange/service/PChangeService.java
  src/test/java/com/gg/server/domain/pchange/data/PChangeDataTest.java
  src/test/java/com/gg/server/domain/pchange/service/PChangeServiceTest.java
Labels: test

#493 [Fix] refactoring api call slack api
  src/main/java/com/gg/server/domain/noti/service/sns/SlackbotService.java
  src/main/java/com/gg/server/global/utils/external/ApiUtil.java
Labels: refactoring

#532 [BUG] top3 rank 조회 수정 (#530)
  src/main/java/com/gg/server/domain/user/data/UserRepository.java
  src/main/java/com/gg/server/domain/user/service/UserService.java
Labels: bug

#536 🧪 [Unit Test] TierService 단위 테스트 추가
  src/main/java/com/gg/server/data/game/Rank.java
  src/main/java/com/gg/server/domain/tier/service/TierService.java
  src/test/java/com/gg/server/domain/tier/service/TierServiceUnitTest.java
Labels: test

#537 🧪 [Unit Test] NotiDomainService 단위 테스트
  src/main/java/com/gg/server/domain/noti/service/NotiService.java
  src/main/java/com/gg/server/domain/noti/service/SnsNotiService.java
  src/main/java/com/gg/server/domain/noti/service/sns/NotiMailSender.java
  src/test/java/com/gg/server/domain/noti/service/NotiServiceUnitTest.java
  src/test/java/com/gg/server/domain/noti/service/SnsNotiServiceUnitTest.java
  src/test/java/com/gg/server/domain/noti/service/sns/NotiMailSenderUnitTest.java
Labels: test

#535 🧪 [Unit Test] Season 단위 테스트 추가
  src/main/java/com/gg/server/admin/season/data/SeasonAdminRepository.java
  src/main/java/com/gg/server/admin/season/service/SeasonAdminService.java
  src/test/java/com/gg/server/admin/season/service/SeasonAdminServiceUnitTest.java
  src/test/java/com/gg/server/domain/season/service/SeasonServiceUnitTest.java
Labels: documentation, test

#569 [FIX] #568 season admin controller test error fix
  src/main/java/com/gg/server/admin/season/data/SeasonAdminRepository.java
  src/main/java/com/gg/server/admin/season/service/SeasonAdminService.java
  src/test/java/com/gg/server/admin/season/service/SeasonAdminServiceUnitTest.java
Labels: bug

#545 🧪 [Unit Test] Receipt 단위 테스트
  src/main/java/com/gg/server/admin/receipt/service/ReceiptAdminService.java
  src/test/java/com/gg/server/admin/receipt/service/ReceiptAdminServiceUnitTest.java
Labels: test

#571 🧪 [Unit Test] Slot management 단위 테스트
  src/main/java/com/gg/server/admin/slotmanagement/service/SlotAdminService.java
  src/test/java/com/gg/server/admin/slotmanagement/service/SlotAdminServiceUnitTest.java
Labels: test

#574 🧪 [Unit Test] Penalty 단위 테스트
  src/main/java/com/gg/server/admin/penalty/service/PenaltyAdminService.java
  src/test/java/com/gg/server/admin/penalty/service/PenaltyAdminServiceTest.java
  src/test/java/com/gg/server/data/manage/PenaltyTest.java
  src/test/java/com/gg/server/domain/penalty/service/PenaltyServiceTest.java
Labels: test

#586 🔨 [Refactor] Item entity에 dto 의존성 제거
  src/main/java/com/gg/server/admin/item/dto/ItemUpdateRequestDto.java
  src/main/java/com/gg/server/admin/item/service/ItemAdminService.java
  src/main/java/com/gg/server/data/store/Item.java
  src/test/java/com/gg/server/utils/ItemTestUtils.java
Labels: refactoring

#585 🔨 [Refactor] game entity 에 dto 의존성 제거
  src/main/java/com/gg/server/admin/rank/service/RankRedisAdminService.java
  src/main/java/com/gg/server/admin/season/dto/SeasonCreateRequestDto.java
  src/main/java/com/gg/server/admin/season/service/SeasonAdminService.java
  src/main/java/com/gg/server/admin/user/service/UserAdminService.java
  src/main/java/com/gg/server/data/game/Game.java
  src/main/java/com/gg/server/data/game/Rank.java
  src/main/java/com/gg/server/data/game/Season.java
  src/main/java/com/gg/server/data/game/redis/RankRedis.java
  src/main/java/com/gg/server/domain/match/service/GameUpdateService.java
  src/main/java/com/gg/server/domain/match/service/MatchFindService.java
  src/main/java/com/gg/server/global/security/service/CustomOAuth2UserService.java
  src/test/java/com/gg/server/admin/season/service/SeasonAdminServiceUnitTest.java
  src/test/java/com/gg/server/domain/game/GameControllerTest.java
  src/test/java/com/gg/server/domain/game/service/GameFindServiceTest.java
  src/test/java/com/gg/server/domain/game/service/GameServiceTest.java
  src/test/java/com/gg/server/domain/match/service/MatchFindServiceUnitTest.java
Labels: refactoring

#595 [FIX] #593 game, match 재수정
  gg-pingpong-data/src/main/java/gg/pingpong/data/game/Game.java
  gg-pingpong-data/src/main/java/gg/pingpong/data/game/Rank.java
  gg-pingpong-data/src/main/java/gg/pingpong/data/game/Season.java
  gg-pingpong-data/src/main/java/gg/pingpong/data/game/redis/RankRedis.java
  gg-pingpong-data/src/main/java/gg/pingpong/data/match/RedisMatchTime.java
  gg-pingpong-data/src/main/java/gg/pingpong/data/match/RedisMatchUser.java
  src/main/java/com/gg/server/data/game/Game.java
  src/main/java/com/gg/server/data/game/Rank.java
  src/main/java/com/gg/server/data/game/Season.java
  src/main/java/com/gg/server/data/game/redis/RankRedis.java
Labels: enhancement, refactoring

#596 🔨 [Refactor] user, store, noti data module에 대한 수정
  gg-pingpong-data/src/main/java/gg/pingpong/data/match/type/Option.java
  gg-pingpong-data/src/main/java/gg/pingpong/data/store/Item.java
  gg-pingpong-data/src/main/java/gg/pingpong/data/store/Megaphone.java
  gg-pingpong-data/src/main/java/gg/pingpong/data/store/Receipt.java
  src/main/java/com/gg/server/data/store/Item.java
Labels: bug, refactoring

#611 [TEST] multimodule test ci fix
  .github/workflows/test-code-validation.yml
  Dockerfile
  build.gradle
  gg-pingpong-utils/build.gradle
Labels: test

#626 [BUG] #625 test, main deploy수정
  .github/workflows/main-deploy.yml
  .github/workflows/test-deploy.yml
Labels: bug
